{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card">
        <p class="small-title">AI MODELS PROJECT</p>
        <h1>Добре дошъл</h1>

        <p>
            Това е Flask проект с AI модели, направени от нулата.
        </p>

        <p>
            За да тестваш моделите, първо си направи профил или влез.
        </p>

        <a class="button-link" href="/register">Регистрация</a>
        <a class="button-link second-button" href="/login">Вход</a>
    </div>
</div>
{% endblock %}