{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card">
        <h1>Вход</h1>

        {% if message %}
            <p class="message">{{ message }}</p>
        {% endif %}

        <form method="POST">
            <label>Username:</label>
            <input type="text" name="username" required>

            <label>Password:</label>
            <input type="password" name="password" required>

            <button type="submit">Вход</button>
        </form>

        <p>Нямаш акаунт? <a href="/register">Регистрирай се</a></p>
    </div>
</div>
{% endblock %}