{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card">
        <p class="small-title">AI MODELS</p>
        <h1>Избери модел</h1>

        <p>Тук можеш да тестваш всички AI модели в проекта.</p>

        <p>
            <a class="button-link" href="/linear-regression">
                Linear Regression
            </a>
        </p>

        <p>
            <a class="button-link" href="/perceptron">
                Perceptron
            </a>
        </p>

        <p>
            <a class="button-link" href="/logistic-regression">
                Logistic Regression
            </a>
        </p>

        <p>
            <a class="button-link" href="/softmax-regression">
                Softmax Regression
            </a>
        </p>
    </div>
</div>
{% endblock %}